@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
  --color-bg-dark: #222;

  --color-txt-normal: #777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Amatic SC', serif;
}

body {
  background-color: var(--color-bg-dark);
  text-align: center;
}

.heading-primary {
  color: var(--color-txt-normal);
  font-size: 8.5rem;
  animation: fadeIn 3500ms ease;
}

p {
  color: var(--color-txt-normal);
  font-size: 4.5rem;
  transform: translateY(15rem);
  opacity: 0;
  transition: all 3500ms ease;
}

.main {
  max-width: 120rem;
  margin: 20rem auto;
}

.image-container {
  max-width: 80%;
  margin: 25rem auto;
}

img {
  display: inline-block;
  width: 100%;
  border-radius: 5rem;
  opacity: 0;
  transition: all 4500ms;
  transform: scale(0.9);
  box-shadow: 0 0.25rem 4rem rgba(0, 0, 0, 0.35);
}

.fade-in {
  animation: fadeIn 3500ms ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade {
  opacity: 1;
  transform: scale(1);
  transition: all 4500ms;
}

.fadeUp {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  color: var(--color-txt-normal);
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 30%;
  }

  p {
    display: inline-block;
    max-width: 80%;
  }

  .image-container {
    margin: 35rem auto;
  }

  .footer {
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin-bottom: 4rem;
  }
}
